 <h1 style="text-align: justify; direction:rtl"> 
  درس 13: پایگاه داده Sqlite 
</h1>

In [2]:
import sqlite3
#Connecting to sqlite
conn = sqlite3.connect('example.db')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

In [3]:
#Creating table as per requirement
sql ='''CREATE TABLE EMPLOYEE(
            FIRST_NAME CHAR(20) NOT NULL,
            LAST_NAME CHAR(20),
            AGE INT,
            SEX CHAR(1),
            INCOME FLOAT) '''

cursor.execute(sql)

In [4]:
print("Table created successfully........")

# Commit your changes in the database
conn.commit()
#Closing the connection
conn.close()

Table created successfully........

## Insert Data

In [5]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

q1 = '''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) 		VALUES ('Fatemeh', 'Rahmani', 27, 'F', 9000) ''' 
q2 = '''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,INCOME) 			VALUES ('Vahid', 'Bahmabi', 20, 'M', 6000)''' 
q3 = '''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,INCOME) 			VALUES ('Shahin', 'Sheikhi', 25, 'M', 8300 )''' 
q4 = '''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,INCOME) 			VALUES ('Sarmira', 'Sharmsar', 26, 'F', 10000)''' 
q5 = '''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,INCOME) 			VALUES ('Tahereh', 'Mishekari', 24, 'F', 6000) '''

In [6]:
cursor.execute(q1)
cursor.execute(q2)
cursor.execute(q3)
cursor.execute(q4)
cursor.execute(q5)
conn.commit()
conn.close()

In [11]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute('''SELECT * from EMPLOYEE''')
result = cursor.fetchone();
print(result)
#Fetching 1st row from the table
result = cursor.fetchall();
print(result)
conn.commit()
conn.close()

('Fatemeh', 'Rahmani', 27, 'F', 9000.0)
[('Vahid', 'Bahmabi', 20, 'M', 6000.0), ('Shahin', 'Sheikhi', 25, 'M', 8300.0), ('Sarmira', 'Sharmsar', 26, 'F', 10000.0), ('Tahereh', 'Mishekari', 24, 'F', 6000.0)]

## Where Clause Syntax

In [12]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute("SELECT * from EMPLOYEE WHERE AGE <23")
print(cursor.fetchall())
conn.commit()
conn.close()

[('Vahid', 'Bahmabi', 20, 'M', 6000.0)]

## Order By

In [13]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
#Retrieving specific records using the ORDER BY clause
cursor.execute("SELECT * from EMPLOYEE ORDER BY AGE")
print(cursor.fetchall())
conn.close()

[('Vahid', 'Bahmabi', 20, 'M', 6000.0), ('Tahereh', 'Mishekari', 24, 'F', 6000.0), ('Shahin', 'Sheikhi', 25, 'M', 8300.0), ('Sarmira', 'Sharmsar', 26, 'F', 10000.0), ('Fatemeh', 'Rahmani', 27, 'F', 9000.0)]

## Update Table

In [15]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
#Fetching all the rows before the update
print("Contents of the Employee table: ")
cursor.execute('''SELECT * from EMPLOYEE''')
print(cursor.fetchall())
#Updating the records
sql = '''UPDATE EMPLOYEE SET AGE=AGE+1 WHERE SEX = 'M' '''
cursor.execute(sql)
print("Contents of the Employee table after the update operation: ")
cursor.execute('''SELECT * from EMPLOYEE''')
print(cursor.fetchall())
#Commit your changes in the database
conn.commit()
conn.close()

Contents of the Employee table:
[('Fatemeh', 'Rahmani', 27, 'F', 9000.0), ('Vahid', 'Bahmabi', 21, 'M', 6000.0), ('Shahin', 'Sheikhi', 26, 'M', 8300.0), ('Sarmira', 'Sharmsar', 26, 'F', 10000.0), ('Tahereh', 'Mishekari', 24, 'F', 6000.0)]
Contents of the Employee table after the update operation:
[('Fatemeh', 'Rahmani', 27, 'F', 9000.0), ('Vahid', 'Bahmabi', 22, 'M', 6000.0), ('Shahin', 'Sheikhi', 27, 'M', 8300.0), ('Sarmira', 'Sharmsar', 26, 'F', 10000.0), ('Tahereh', 'Mishekari', 24, 'F', 6000.0)]

## Delete Data

In [16]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute('''SELECT * from EMPLOYEE''')
print(cursor.fetchall())
#Deleting records
cursor.execute('''DELETE FROM EMPLOYEE WHERE AGE > 25''')
#Retrieving data after delete
print("Contents of the table after delete operation ")
cursor.execute("SELECT * from EMPLOYEE")
print(cursor.fetchall())
#Commit your changes in the database
conn.commit()
conn.close()

[('Fatemeh', 'Rahmani', 27, 'F', 9000.0), ('Vahid', 'Bahmabi', 22, 'M', 6000.0), ('Shahin', 'Sheikhi', 27, 'M', 8300.0), ('Sarmira', 'Sharmsar', 26, 'F', 10000.0), ('Tahereh', 'Mishekari', 24, 'F', 6000.0)]
Contents of the table after delete operation
[('Vahid', 'Bahmabi', 22, 'M', 6000.0), ('Tahereh', 'Mishekari', 24, 'F', 6000.0)]

## Join

In [17]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS Score")
sql ='''CREATE TABLE Score(
            FIRST_NAME CHAR(20) NOT NULL,
            LAST_NAME CHAR(20),
            Grade INT)'''
q1 = '''INSERT INTO Score(FIRST_NAME, LAST_NAME, Grade) 
            VALUES ('Fatemeh', 'Rahmani', 15) '''
q2 = '''INSERT INTO Score(FIRST_NAME, LAST_NAME, Grade)
                VALUES ('Vahid', 'Bahmabi', 18)'''
q3 = '''INSERT INTO Score(FIRST_NAME, LAST_NAME, Grade)
                VALUES ('Shahin', 'Sheikhi', 19)'''
q4 = '''INSERT INTO Score(FIRST_NAME, LAST_NAME, Grade)
                VALUES ('Sarmira', 'Sharmsar', 16)'''

In [18]:
cursor.execute(sql)
cursor.execute(q1)
cursor.execute(q2)
cursor.execute(q3)
cursor.execute(q4)
conn.commit()

sql = '''SELECT * from EMPLOYEE 
     JOIN Score ON EMPLOYEE.LAST_NAME=Score.LAST_NAME'''
cursor.execute(sql)
result = cursor.fetchall();
print(result)
conn.commit()
conn.close()

[('Vahid', 'Bahmabi', 22, 'M', 6000.0, 'Vahid', 'Bahmabi', 18)]

## نکات تکمیلی SQLite

In [19]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
q1 = '''INSERT INTO EMPLOYEE VALUES ('Ali', 'Rezaie', 27, 'M', 9000) '''
q2 = '''INSERT INTO EMPLOYEE VALUES ('Zahra', 'Rezaie', ?, 'F', ?) '''
cursor.execute(q1)
cursor.execute(q2,(23,8500))
conn.commit()
conn.close()

In [20]:
def insert(name, family, age, gender, inc):
    conn = sqlite3.connect('example.db')
    cur = conn.cursor()
    q = "INSERT INTO EMPLOYEE VALUES (?, ?, ?, ?, ?) "
    name = name.capitalize()
    family = family.capitalize()
    cur.execute(q,(name, family, age, gender, inc))
    out = cur.fetchall()
    conn.commit()
    conn.close()
    print('Data inserted successfully ...')

insert('Ahmad', 'Rahimi', 27, 'M', 12000)

Data inserted successfully ...

In [21]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
q1 = '''SELECT * from EMPLOYEE  WHERE AGE>? '''
q2 = '''SELECT * from EMPLOYEE  WHERE AGE>? OR INCOME>? '''
cursor.execute(q1,(20,))
cursor.fetchall()
cursor.execute(q2,(26,8500))
cursor.fetchall()

[('Ali', 'Rezaie', 27, 'M', 9000.0), ('Ahmad', 'Rahimi', 27, 'M', 12000.0)]

In [22]:
def search(name,family):
    conn = sqlite3.connect('example.db')
    cur = conn.cursor()
    q = "SELECT * FROM EMPLOYEE WHERE FIRST_NAME=? and LAST_NAME=?"
    name = name.capitalize()
    family = family.capitalize()
    cur.execute(q,(name,family))
    out = cur.fetchall()
    return out

search('Tahereh','mishekari')

[('Tahereh', 'Mishekari', 24, 'F', 6000.0)]

In [23]:
def view():
    connection = sqlite3.connect("example.db")
    cur = connection.cursor()
    q1 = """
    SELECT * FROM EMPLOYEE
    """
    cur.execute(q1)
    rows = cur.fetchall()
    connection.commit()
    connection.close()
    return rows

### مثال: تعریف نام کاربری و رمز عبور

In [24]:
import sqlite3
conn = sqlite3.connect('example.db')
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS users")
q1='''
CREATE TABLE users (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    username  CHAR(20) NOT NULL,
    password  CHAR(20) NOT NULL)
'''
q2 = "INSERT INTO users VALUES (NULL,'admin','admin')"
cur.execute(q1)
cur.execute(q2)
conn.commit()
conn.close()

In [25]:
def connect(username,password):
    conn = sqlite3.connect("example.db")
    cur = conn.cursor()
    q = f"SELECT username from users WHERE username='{username}' AND Password = 				'{password}';"
    cur.execute(q)
    if not cur.fetchone():  # An empty result evaluates to False.
        print("Login failed...")
        conn.close()
    else:
         print("Welcome...")

connect('boss','1234')

Login failed...