<h2 style="text-align: justify; direction:rtl">   
درس هجدهم: 
</h2>

<h1 style="text-align: justify; direction:rtl">   
 چندریختی (Polymorphism) در پایتون
</h1>

In [1]:
def P(x):
    return(4*x)

In [3]:
P(3)

12

In [5]:
def P(x,y):
    return(2*(x+y))

In [7]:
P(2,3)

10

In [9]:
def P(x,y=None):
    if(y is None):
        z = 4*x
    else: 
        z = 2*(x+y)
    return(z)

In [11]:
P(3)

12

In [12]:
P(2,3)

10

In [16]:
class shape():
    name = 'shape'
    def printinfo(self):
        print("This is a",self.name)

In [17]:
A1 = shape()
A1.printinfo()

This is a shape

In [27]:
class circle(shape):
    name = 'circle'
    def __init__(self,r):
        self.r=r
    def printinfo(self):
        print("This is a",self.name,"with a radius",self.r)
    def P(self):
        return(2*3.14*self.r)

In [28]:
A2 = circle(2)
A2.printinfo()

This is a circle with a radius 2

In [29]:
A2.P()

12.56

In [23]:
class rect(shape):
    name = 'rectangle'
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def P(self):
        return(2*(self.x+self.y))

In [30]:
A3 = rect(2,3)
A3.P()

10

In [50]:
from numpy import array
class student():
    scores=None
    def __init__(self,name,id):
        self.Name=name
        self.ID=id
    def set_scores(self,scores):
        self.scores=array(scores)
    def get_scores(self):
        if self.scores is not None:
            print(self.scores)
        else:
            print('Please set scores first.')
    def info(self):
        print('Name:',self.Name,'\nID:',self.ID)

In [51]:
S1 = student('Ali',967548)

In [52]:
S1.set_scores([13,15,13])

In [53]:
S1.get_scores()

[13 15 13]

In [54]:
S1.info()

Name: Ali
ID: 967548

In [44]:
class BS_student(student):
    def set_major(self,m):
        self.major=m
    def info(self):
        if self.scores is not None:
            x1= self.scores.mean()
            x2= sum(self.scores>=10)
            x3= len(self.scores)
            x4= self.scores[self.scores>=10].mean()
            print('Name:',self.Name,'\nID:',self.ID,'\nMajor:',self.major,
              '\nTotal Ave.:',x1,'\nNum. of pass:',
              x2,'\nNum. of courses:',x3,'\nPassed courses Ave.:',x4)
        else:
            print('Name:',self.Name,' ID:',self.ID)

In [55]:
class MA_student(student):
    def set_major(self,m):
        self.major=m
    def info(self):
        if self.scores is not None:
            x1= self.scores.mean()
            x2= sum(self.scores>=12)
            x3= len(self.scores)
            x4= self.scores[self.scores>=12].mean()
            print('Name:',self.Name,'\nID:',self.ID,'\nMajor:',self.major,
              '\nTotal Ave.:',x1,'\nNum. of pass:',
              x2,'\nNum. of courses:',x3,'\nPassed courses Ave.:',x4)
        else:
            print('Name:',self.Name,' ID:',self.ID)

In [57]:
S2 = BS_student('Ahmad',9957461)
S2.set_major('Computer')
S2.set_scores([16,12,10,19,8,17,9])
S2.info()

Name: Ahmad
ID: 9957461
Major: Computer
Total Ave.: 13.0
Num. of pass: 5
Num. of courses: 7
Passed courses Ave.: 14.8

In [58]:
S3 = MA_student('Mohammad',9961461)
S3.set_major('Computer')
S3.set_scores([16,12,10,19,8,17,9])
S3.info()

Name: Mohammad
ID: 9961461
Major: Computer
Total Ave.: 13.0
Num. of pass: 4
Num. of courses: 7
Passed courses Ave.: 16.0