# Lesson 1: Python Data Types, Operators, Strings, and Math Functions

In this lesson, we will introduce the basic elements of Python programming, including:
- Printing text
- Variable assignment
- Getting input from the user
- Data types (int, float, complex, bool, str)
- Arithmetic operations
- Python keywords

In [1]:
# Basic print statement
print("Hello, world!!")

Hello, world!!

## Assigning Values to Variables

In [2]:
# Multiple assignment
x = y = 10
x, y = 5, 10

# Swapping variables
x, y = y, x

**Shortcut for commenting in most editors:** `Ctrl + /`

## Getting Input from the User

In [3]:
x = int(input('Enter an integer: '))
# x = float(input('Enter a float: '))
# x = eval(input('Enter a value (evaluated): '))
print(type(x))

<class 'int'>

In [4]:
x = 1
y = 3
print(x, end='#')
print(y)

1#3

## Data Types and Type Conversion

In [5]:
a = 3
b = 2 * a
type(b)

int

In [6]:
b = 'hello'
type(b)

str

In [7]:
# String concatenation
b + b

'hellohello'

In [8]:
# String repetition
2 * b

'hellohello'

## Basic Numeric Data Types

In [9]:
x = 17
type(x)

int

In [10]:
x = 17.23
type(x)

float

In [11]:
a = 1.5 + 0.5j
type(a)

complex

In [12]:
a.real

1.5

In [13]:
a.imag

0.5

## Boolean Data Type

In [14]:
test = (3 > 4)
test

False

In [15]:
type(test)

bool

## Python Keywords
These are reserved words in Python and cannot be used as variable names.

and, assert, break, class, continue, def, del, elif, else, except,
exec, finally, for, from, global, if, import, in, is, lambda,
not, or, pass, print, raise, return, try, while

## Operators and Operands

In [16]:
print(7 * 3)
2 ** 10

21

1024

In [17]:
8 % 3

2

In [18]:
3.0 // 2

1.0